h1{
    text-align: center;
    font-size: 25px;
    color: rgb(40, 204, 68);
}
body {
    background-image: url("ram.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  background-position: center;
   padding:200% ;
  width: 200%;
}





.button{
    color: blue;
display: inline-block;
padding: 10px 20px;
}

