h1{
    text-align: center;
    font-size: 50px;
    color: rgb(22, 180, 1);
}
body{
    background-image: url("ram.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    }
    .botao{
        background-color: brown;
        color: beige;
        border: none;
        text-align: center;
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
    }